/* main */
.home main {
    background: var(--colorGrisClaro);
}

/* main - banner */
.home main div.banner {
    display: none;
}
.home main div.banner img{
    width: 100%;
}

/* main - product */
.home main section.product {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home main section.product h2 {
    margin: 0;
    width: 100%;
    padding: 10px;
}
.home main section.product article.caja {
    margin: 10px 0;
    padding: 15px;
    background-color: white;
}
.home main section.product article.caja img {
    width: 100%
}

/* caja hija */
.home main section.product article.caja div.caja-hija {
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
}

/* main - product - posicionamiento de camión */
.home main section.product article.caja div.caja-hija div.camion {
    height: 0;
}
.home main section.product article.caja div.caja-hija div.camion i {
    display: block;
    font-size: 1rem;
    padding: 5px;
    width: 21px;
    height: 18px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -15px;
    color: var(--colorVerde);
}

/* main - product - caja hija - detalle de producto */
.home main section.product article.caja div.caja-hija div.detail-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home main section.product article.caja div.caja-hija div.detail-product div.price {
    width: 30%;
}
.home main section.product article.caja div.caja-hija div.detail-product div.price p {
    font-size: var(--fontSize-price);
    color: black;
}
.home main section.product article.caja div.caja-hija div.detail-product div.discount {
    width: 70%;
}
.home main section.product article.caja div.caja-hija div.detail-product div.discount p{
    color: var(--colorVerde);
    font-size: var(--fontSize-discount);
    padding-left: 10px; /* Sacar en media queris mayores a tablet */
}
.home main section.product article.caja div.caja-hija div.detail-product p{
    font-size: var(--fontSize-detail);
}

/* media queris tablet */
@media (min-width: 768px) {
    /* mian - banner */
    .home main div.banner {
        display: block;
    }
    /* tamaño de article - 2 */
    .home main section.product article.caja {
        width: 40%;
        margin: 10px 10px;
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
    .home main section.product article.caja div.caja-hija div.detail-product div.price,
    .home main section.product article.caja div.caja-hija div.detail-product div.discount {
        width: 50%;
    }
    /* main - product - posicionamiento de camión */
    .home main section.product article.caja div.caja-hija div.camion i {
        left: 86%;
    }
}

/* media queris laptop */
@media (min-width: 1024px){
    /* tamaño de article - 4 */
    .home main section.product article.caja {
        width: 19.5%;
    }
    /* main - product - posicionamiento de camión */
    .home main section.product article.caja div.caja-hija div.camion i {
        left: 83%;
    }
}