/* main */
.home main {
    background: var(--colorGrisClaro);
}

/* main - banner */
.home main div.banner {
    display: none;
}
.home main div.banner img{
    width: 100%;
}

/* main - product */
.home main section.product {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
    align-content: flex-start;
}
.home main section.product h2 {
    margin: 0;
    width: 100%;
    padding: 10px;
}
.home main section.product article.caja {
    margin: 10px 0;
    padding: 15px;
    background-color: white;
}
.home main section.product article.caja div.product-image {
    margin: auto;
}
.home main section.product article.caja div.product-image img {
    width: 100%;
}

/* caja hija */
.home main section.product article.caja div.caja-hija {
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* main - product - posicionamiento de camión */
 .home main section.product article.caja div.caja-hija div.camion {
    position: absolute;
    top: -15px;
    right: 4px;
    width: 1.7rem;
    height: 1.5rem;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    
}
.home main section.product article.caja div.caja-hija div.camion i {
    display: block;
    font-size: 1rem;
    padding: 5px;
    color: var(--colorVerde);
}

/* main - product - caja hija - detalle de producto */
.home main section.product article.caja div.caja-hija div.detail-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home main section.product article.caja div.caja-hija div.detail-product div.price {
    width: 30%;
}
.home main section.product article.caja div.caja-hija div.detail-product div.price p {
    font-size: min(max(var(--fontSize-price)), 1rem, 2vw);
    color: black;
}

.home main section.product article.caja div.caja-hija div.detail-product div.discount {
    width: 70%;
    text-align: end;
}
.home main section.product article.caja div.caja-hija div.detail-product div.discount p{
    color: var(--colorVerde);
    font-size: var(--fontSize-discount);
    padding-left: 10px; /* Sacar en media queris mayores a tablet */
}
.home main section.product article.caja div.caja-hija div.detail-product p.description{
    font-size: var(--fontSize-detail);
}
@media (min-width: 425px) {
    .home main section.product article.caja {
        width: 100%;
    }
    .home main section.product article.caja div.product-image {
        max-width:450px
    }
}
/* media queris tablet */
@media (min-width: 768px) {
    /* mian - banner */
    .home main div.banner {
        display: block;
    }
    /* tamaño de article - 2 */
    .home main section.product article.caja {
        margin: 10px 10px;
        width: 17.5%;
        height: fit-content;
        
    }
    .home main section.product article.caja:hover {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        position: relative;
    }
    .home main section.product article.caja div.product-image {
        max-width:200px
    }
    
    .home main section.product article.caja div.caja-hija div.detail-product div.price,
    .home main section.product article.caja div.caja-hija div.detail-product div.discount {
        width: 50%;
    }
    .home main section.product article.caja div.caja-hija div.detail-product div.discount p{
        padding-left: 0; /* Sacar en media queris mayores a tablet */
    }
    .home main section.product article.caja div.caja-hija div.detail-product p.description{
        display: none;
    }
    .home main section.product article.caja div.caja-hija div.detail-product:hover > p.description {
        display: block;
    }
    
    .home main section.product article.caja div.caja-hija div.camion i {
        transition: linear transform .9s;
    }
      
    .home main section.product article.caja div.caja-hija div.camion i:hover {
        transform: rotate(180deg);
    }

}