.login-register{
    background-color: var(--colorGrisClaro);
}
.login-register main {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 45px;
}
.login-register h2 {
    text-align: center;
    font-size: var(--fontSize-title);
}
.login-register form {
    margin: 0 auto;
    padding: 40px 0 20px;
}
.login-register form label {
    font-size: var(--fontSize-detail);
}
.login-register form .input-form {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
.login-register form .input-form input,
.login-register form .input-form select {
    margin: 10px 0;
    height: 1.5rem;
}
.login-register form .input-form small {
    color: red;
    margin: 10px 0;
    display: inline-block;
    padding: 0px 11px;
}
.login-register form .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.login-register form .options div {
    width: 44%;
    display: flex;
    align-items: center;
}
.login-register form .options div label {
    padding-left: 7px;
}
.login-register form .button-form {
    display: flex;
    justify-content: space-around;
}
.login-register form .options div.vida-sana {
    margin-left: 7px;

}
.login-register form .button-form button {
    padding: 10px 15px;
    background-color: var(--colorCeleste);
    border: 1px var(--colorGrisClaro) solid;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}

.login-register form .button-form button:hover {
    background-color: #0022AA;
}

@media (min-width: 320px) {
    .login-register main {
        width: 70%;
        max-width: 350px;
    }
    .login-register form .options div {
        width: 100px;
    }
    .login-register form .button-form button:active {
        background-color: rgba(0, 0, 0, 0.767)
    }
}

@media (min-width: 768px) {
    .login-register main {
        width: 350px;
    }
}
@media (min-width: 768px) {
    .login-register main {
        width: 350px;
    }
}